# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# Dependências do ambiente
env/
venv/
*.egg-info/
dist/
build/
*.whl

# Arquivos temporários
*.log
*.tmp
*.csv

# Dados sensíveis (caso haja)
config.json
